<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoa</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2>Cadastro de Pessoas</h2>
    </header>

    <div class="formulario">
        <form action="/cadastro" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" />
    
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome" />
    
            <label for="idade">Idade:</label>
            <input type="text" name="idade" id="idade" placeholder="EX: 22" />
    
            <label for="email">E-mail:</label>
            <input type="text" name="email" id="email" placeholder="exemple@email.com" />
            
            <input type="submit" name="botao" id="botao" value="Inserir" />
        </form>    

            

        <ul>
            <li th:each="cadastro : ${historico}" th:utext="${cadastro}"></li>
        </ul>
    </div>
    
    <footer>
        <span>Copyright <strong>Calango</strong> © 2018-2020</span>
    </footer>
</body>
</html>